// $main-color: #c619cb;
// $secondary-color: #db1ce0;
$main-color: #5a5a5a;
$secondary-color: #686868;

.container {
  font-size: 16px;
}

.header {
  padding: 0px;
}

::ng-deep .ui-toolbar {
  height: 7em !important;
  border: 0px !important;
  background-color: $main-color !important;
  border-radius: 0px !important;
}

.logo-name {
  font-size: 5em;
  margin-left: 1em;
  font-family: 'varelisa', 'arial', sans-serif;
  color: white;
}
.admin {
  font-size: 3em;
}

.sign-off {
  margin: 0px !important;
  font-size: 16px;
  height: 4em !important;
  width: 12em;
}

.button-menu {
  width: 80%;
  height: 5em;
  margin: 1em 10%;
}

.menu {
  padding: 0px;
  font-size: 1em !important;
}

::ng-deep .ui-menu {
  width: 100% !important;
  border: 0px !important;
  font-size: 1em !important;
  background-color: $secondary-color !important;
  height: calc(100vh - 5.25em) !important;
  border-radius: 0px !important;
}

::ng-deep .ui-menuitem {
  height: 5em !important;
  *:hover {
    background-color: $main-color !important;
  }
  *:focus {
    background-color: $main-color !important;
  }
}

::ng-deep .ui-menuitem-link {
  background-color: $secondary-color !important;
  height: 100% !important;
  padding-top: 24px !important;
  *:enabled:focus {
    box-shadow: 0 0 0 1em red !important;
  }
}

::ng-deep .ui-menuitem-text {
  font-size: 16px;
  color: white !important;
}

::ng-deep .ui-menuitem-icon {
  color: white !important;
}

::ng-deep .ui-submenu-header {
  background-color: transparent !important;
  font-size: 20px;
}

::ng-deep .ui-button:enabled:focus {
  box-shadow: 0 0 0 0 #fff !important;
}
