.modificar {
	color: blue;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
}

.eliminar {
	color: red;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
}

.addFile {
	color: #006e00;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
}

.progress {
	background-color: rgba(150, 150, 150, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	z-index: 999999;
}

.spinner {
	float: left;
	position: fixed;
	top: calc(50% - 75px);
	left: calc(50% - 75px);
}

@keyframes bounce {
	0%,
	20%,
	60%,
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	80% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}
