.modificar {
	color: blue;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
}

.eliminar {
	color: red;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
}

.addFile {
	color: #006e00;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
}
