<div class="ui-g">
	<div class="ui-g-12">
		<div class="ui-g-6">
			<h2>
				Canciones
			</h2>
		</div>
		<div class="ui-g-6">
			<button pButton (click)="addSong()" style="position: absolute; right: 10px; width: 100px;">Agregar</button>
		</div>
	</div>

	<div class="ui-g-12">
		<p-table [value]="songs" [paginator]="true" [rows]="10">
			<ng-template pTemplate="header">
				<tr>
					<th style="width: 56%;">Nombre</th>
					<th style="width: 56%;">Banda</th>
					<th style="width: 22%;">Modificar</th>
					<th style="width: 22%;">Eliminar</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-song>
				<tr>
					<td>{{ song.songName != undefined ? song.songName : "" }}</td>
					<td>{{ song.band != undefined ? song.band.name : "" }}</td>
					<td class="modify" (click)="modify(song)">Modificar</td>
					<td class="delete" (click)="delete(song)">Eliminar</td>
				</tr>
			</ng-template>
		</p-table>
	</div>
</div>

<!-- Agregar nombre -->
<p-dialog
	header="Modificar"
	[(visible)]="displayAdd"
	[modal]="true"
	[responsive]="true"
	[style]="{ width: '550px', minWidth: '200px' }"
	[closable]="false"
>
	<h3>Seleccione la banda</h3>
	<p-dropdown
		[options]="bands"
		[(ngModel)]="bandSelected"
		optionLabel="name"
		filter="true"
		[style]="{ width: '100%' }"
		appendTo="body"
		placeholder="Bandas"
		(onChange)="selectBand()"
	></p-dropdown>
	<br />

	<h3>Nombre</h3>
	<input type="text" pInputText style="width: 100%;" [(ngModel)]="songSelected.songName" />

	<p-footer>
		<button type="button" pButton icon="pi pi-check" (click)="continuarIns()" label="Continuar"></button>
		<button
			type="button"
			pButton
			icon="pi pi-times"
			class="ui-button-raised ui-button-info"
			(click)="cancelar()"
			label="Cancelar"
		></button>
	</p-footer>
</p-dialog>

<!-- Agregar recursos (Instrumentos) -->
<p-dialog
	header="Modificar"
	[(visible)]="displayInst"
	[modal]="true"
	[responsive]="true"
	[style]="{ width: '550px', minWidth: '200px' }"
	[closable]="false"
>
	<h3>Seleccione los instrumentos que tiene la canción</h3>
	<button
		pButton
		type="button"
		icon="pi pi-check"
		iconPos="right"
		[ngClass]="{ 'inst-select': instrumentos.Voice, 'inst-deselect': !instrumentos.Voice }"
		label="Voz"
		(click)="selectIns('voice')"
	></button>
	<button
		pButton
		type="button"
		icon="pi pi-check"
		iconPos="right"
		[ngClass]="{ 'inst-select': instrumentos.Guitar, 'inst-deselect': !instrumentos.Guitar }"
		label="Guitarra"
		(click)="selectIns('guitar')"
	></button>
	<button
		pButton
		type="button"
		icon="pi pi-check"
		iconPos="right"
		[ngClass]="{ 'inst-select': instrumentos.Bass, 'inst-deselect': !instrumentos.Bass }"
		label="Bajo"
		(click)="selectIns('bass')"
	></button>
	<button
		pButton
		type="button"
		icon="pi pi-check"
		iconPos="right"
		[ngClass]="{ 'inst-select': instrumentos.Drums, 'inst-deselect': !instrumentos.Drums }"
		label="Bateria"
		(click)="selectIns('drums')"
	></button>

	<p-footer>
		<button type="button" pButton icon="pi pi-check" (click)="continuarReso()" label="Continuar"></button>
		<button
			type="button"
			pButton
			icon="pi pi-times"
			class="ui-button-raised ui-button-info"
			(click)="cancelar()"
			label="Cancelar"
		></button>
	</p-footer>
</p-dialog>

<!-- Agregar archivos (videos) -->
<p-dialog
	header="Modificar"
	[(visible)]="displayReso"
	[modal]="true"
	[responsive]="true"
	[style]="{ width: '550px', minWidth: '200px' }"
	[closable]="false"
>
	<h3>
		Debe cargar cada uno de los archivos con el botón <span style="color:red">Subir</span> antes de hacer click en el botón
		finalizar
	</h3>
	<div *ngIf="instrumentos.Voice">
		<h3>Voz</h3>
		<p-fileUpload
			name="demo[]"
			customUpload="true"
			(uploadHandler)="onUpload($event, 'Voice')"
			accept="video/*"
			maxFileSize="1000000000"
			chooseLabel="Seleccionar"
			uploadLabel="Subir"
			cancelLabel="Cancelar"
			url="http://localhost:3000/upload/video"
		></p-fileUpload>
	</div>
	<div *ngIf="instrumentos.Guitar">
		<h3>Guitarra</h3>
		<p-fileUpload
			name="demo[]"
			customUpload="true"
			(uploadHandler)="onUpload($event, 'Guitar')"
			accept="video/*"
			maxFileSize="1000000000"
			chooseLabel="Seleccionar"
			uploadLabel="Subir"
			cancelLabel="Cancelar"
			url="http://localhost:3000/upload/video"
		></p-fileUpload>
	</div>
	<div *ngIf="instrumentos.Bass">
		<h3>Bajo</h3>
		<p-fileUpload
			name="demo[]"
			customUpload="true"
			(uploadHandler)="onUpload($event, 'Bass')"
			accept="video/*"
			maxFileSize="1000000000"
			chooseLabel="Seleccionar"
			uploadLabel="Subir"
			cancelLabel="Cancelar"
			url="http://localhost:3000/upload/video"
		></p-fileUpload>
	</div>
	<div *ngIf="instrumentos.Drums">
		<h3>Bateria</h3>
		<p-fileUpload
			name="demo[]"
			customUpload="true"
			(uploadHandler)="onUpload($event, 'Drums')"
			accept="video/*"
			maxFileSize="1000000000"
			chooseLabel="Seleccionar"
			uploadLabel="Subir"
			cancelLabel="Cancelar"
			url="http://localhost:3000/upload/video"
		></p-fileUpload>
	</div>

	<p-footer>
		<button type="button" pButton icon="pi pi-check" (click)="cancelar()" label="Finalizar"></button>
	</p-footer>
</p-dialog>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<p-toast [style]="{ marginTop: '80px' }"></p-toast>
