<div class="bg-img">
  <form class="container">
    <h1>Iniciar sesión Admin</h1>

    <label for="email"><b>Usuario</b></label>
    <input type="text" placeholder="Ingrese usuario" name="email" [(ngModel)]="username" required />

    <label for="psw"><b>Contraseña</b></label>
    <input type="password" placeholder="Ingrese Contraseña" name="psw" [(ngModel)]="password" required />

    <button type="submit" class="btn" (click)="login()">Ingresar</button>
  </form>
</div>

<div class="ui-g-12 ui-md-12 progress" id="progress" *ngIf="progress">
	<div class="spinner">
		<p-progressSpinner [style]="{ width: '150px', height: '150px' }"></p-progressSpinner>
	</div>
</div>